<!DOCTYPE html>

<html ng-app="myApp">
    <head>
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js">          
       </script>   <script type="text/javascript" src="cordova.js"></script>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <title>Hello World</title>
    </head>
    <body ng-controller="myCont">
    <div id="main" >   
    	     <img  id="capturedImage" style="height:100vh;width:100%"  ng-show="showImage">
			  <a class="btn btn-lg newButton" ng-show="showImage" ng-click="newImage()">
				  <span class="glyphicon glyphicon-plus"></span>  New
			  </a>
            <div id="captureImage" style="height:100vh;background-color: #428bca;" ng-hide="showImage" class="jumbotron vertical-center">
				
                 <button  class="btn btn-default btn-lg btn-block verticalCentre" ng-click="captureImage()" >Capture</button>
				

            </div>
    </div>
        <script type="text/javascript" src="js/index.js"></script>
    </body>
</html>
